@model GPLX.Core.DTO.Response.DM.DMSearchResponseData
@{
    string viewMode = ViewBag.ViewMode ?? string.Empty;
    string display = Model == null ? "Thêm mới đối tượng" : ViewBag.ViewMode == "view" ? "Thông tin đối tượng" : "Chỉnh sửa thông tin đối tượng";
}
<div class="row">
    <input type="hidden" id="___record" value="@(Model?.MaDM)" />
    <div class="col-md-12">
        <div class="card">
            @*<div class="card-header" style="background-color:#ececec">
                @display
            </div>*@
            <div class="card-body">
                
                @if (viewMode.Equals("view"))
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dmdoituong">Mã đối tượng</label>
                                <input id="txtmadoituong" value="@(Model?.MaDM)" placeholder="Nhập mã đối tượng" class="form-control form-control-sm" disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dmdoituong">Tên đối tượng</label>
                                <input id="txttendoituong" value="@(Model?.TenDM)" placeholder="Nhập tên đối tượng" class="form-control form-control-sm" disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Trạng thái:</label>
                                <div class="input-group">
                                    <select class="form-control form-control-sm" id="ddlStatusdoituong" disabled>
                                        @if(Model?.IsActive== 0)
                                        {
                                            <option value="0" selected>Vô hiệu</option>
                                            <option value="1">Kích hoạt</option>
                                        }
                                        else
                                        {
                                            <option value="0" >Vô hiệu</option>
                                            <option value="1" selected>Kích hoạt</option>
                                        }
                                    </select>
                                </div>
                            
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Thời gian tạo</label>
                                <input class="form-control form-control-sm" value='@(Model?.Createdate.ToString("dd/MM/yyyy HH:mm"))' disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Thứ tự:</label>
                                <input value="@(Model?.Stt)" class="form-control form-control-sm" disabled="@(viewMode .Equals("view"))" type="text" maxlength="4"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Thời gian sửa</label>
                                <input class="form-control form-control-sm" value='@(Model?.Updatedate?.ToString("dd/MM/yyyy HH:mm"))' disabled />
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dmdoituong">Mã Đối Tượng</label><label class="labelrequired">*</label>
                                @if(String.IsNullOrEmpty(Model?.MaDM))
                                {
                                    <input id="txtmadoituong" value="" class="form-control form-control-sm" disabled="@(viewMode .Equals("view"))" maxlength="10" />
                                }
                                else
                                {
                                    <input id="txtmadoituong" value="@(Model?.MaDM)" readonly="readonly"  class="form-control form-control-sm" disabled="@(viewMode .Equals("view"))" maxlength="10" />
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dmdoituong">Tên Đối Tượng</label><label class="labelrequired">*</label>
                                <input id="txttendoituong" value="@(Model?.TenDM)" class="form-control form-control-sm" maxlength="200"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Trạng thái:</label>
                                <div class="input-group">
                                    <select class="form-control form-control-sm" id="ddlStatusdoituong">
                                        @if(Model?.IsActive== 0)
                                        {
                                            <option value="0" selected>Vô hiệu</option>
                                            <option value="1">Kích hoạt</option>
                                        }
                                        else
                                        {
                                            <option value="0" >Vô hiệu</option>
                                            <option value="1" selected>Kích hoạt</option>
                                        }
                                    </select>
                                </div>
                            
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Thứ tự:</label><label class="labelrequired">*</label>
                                <input id="txtstt" value="@(Model?.MaDM == null ? Model?.MaxStt : Model?.Stt)" class="form-control form-control-sm" disabled="@(viewMode .Equals("view"))" type="text" oninput="this.value=this.value.replace(/\D/g,'').replace(/^0+(?=\d)/,'')" maxlength="4"/>
                                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#txtmadoituong").change(function () {
        $("#txtmadoituong").removeClass('itemerror');
    });
    $("#txttendoituong").change(function () {
        $("#txttendoituong").removeClass('itemerror');
    });
    $("#txtstt").change(function () {
        $("#txtstt").removeClass('itemerror');
    });
</script>